body {
  background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  color: rgb(73, 72, 73);
}

.App-header {
  margin: 20px;
  font-weight: bold;
  font-size: 40px;
}
.container {
  max-width: 800px;
}

.headerPicture {
  margin-top: 20px;
  max-width: 200px;
  margin: 0 auto;
  display: block;
}

.Intro {
  text-align: center;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
}
