.Dictionary h1 {
  font-size: 18px;
}

.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid black;
  opacity: 0.8;
  border-radius: 5px;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 10px;
}
