.Dictionary h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.Dictionary section {
  background: white;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(73, 73, 73, 0.1);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid grey;
  opacity: 0.8;
  border-radius: 5px;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 10px;
}
